<%= link_to root_url, class: "" do %>
	<% if current_organization.present? && current_organization.logo.attached? %>
    	<%= image_tag current_organization.logo, alt: "Logo" %> 
    <% else %>
    	<span><%= APPLICATION_NAME %></span> 
    <% end %>
<% end %>