$('#imputation_service_id').empty();
$('#imputation_service_id').append( $('<option value="">Sélectionner</option>'));
<% @services.each do |service| %>
  $('#imputation_service_id').append($('<option value="<%= service.id %>"><%= service.name %></option>'));
<% end %>


$('#imputation_recipient_id').empty();
$('#imputation_recipient_id').append( $('<option value="">Sélectionner</option>'));
<% @profiles.each do |recipient| %>
  $('#imputation_recipient_id').append($('<option value="<%= recipient.user_id %>"><%= recipient.full_name %></option>'));
<% end %>