$('#imputation_division_id').empty();
$('#imputation_division_id').append( $('<option value="">Sélectionner</option>'));
<% @divisions.each do |division| %>
  $('#imputation_division_id').append($('<option value="<%= division.id %>"><%= division.name %></option>'));
<% end %>


$('#imputation_recipient_id').empty();
$('#imputation_recipient_id').append( $('<option value="">Sélectionner</option>'));
<% @profiles.each do |recipient| %>
  $('#imputation_recipient_id').append($('<option value="<%= recipient.user_id %>"><%= recipient.full_name %></option>'));
<% end %>